@model SportsEvent.Domain.Domain.Match

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            Team 1
        </dt>
        <dd class = "col-sm-10">
            @((ViewData["TeamNames"] as Dictionary<Guid, string>)[Model.TeamId1])
        </dd>
        <dt class = "col-sm-2">
            Team 2
        </dt>
        <dd class = "col-sm-10">
            @((ViewData["TeamNames"] as Dictionary<Guid, string>)[Model.TeamId2])
        </dd>
        <dt class = "col-sm-2">
            Sport Event
        </dt>
        <dd class = "col-sm-10">
            @((ViewData["SportEventNames"] as Dictionary<Guid, string>)[Model.SportEventId])
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
