@model SportsEvent.Domain.Domain.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Match)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Match.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tribina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tribina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Red)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Red)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sedishte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sedishte)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
